<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
   bootstrap may collapse to fewer columns and
   more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
    <form id="entry">
      <label for="attempt">Word:</label>
      <input id="attempt" name="attempt" type="text" width="15"
        autocomplete="off"  autofocus />
    </form>
</div></div>

<br />


<h2 id="found_section"> </h2>
<p id="results"> </p>


<p class="message"></p>


<script>
  $("#entry").submit( function(event) {
     event.preventDefault();
    });

  $("#attempt").keyup(function(event) {
     var txt = $("#attempt").val().toLowerCase();  // Current content of the input field in lowercase
     var keycode = event.which;      // They key that just went up
     var letter = String.fromCharCode(keycode);

     // That letter might not be a letter ... it could be the
     // the backspace key, or even the shift key, because 'keyup'
     // catches all kinds of keys.  (Also, the difference between
     // upper and lower case comes from state of shift key + key code,
     // so ignoring the shift key we get only the upper case letters.

     if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) {
       return
     }

     $.getJSON( "/_check", { text: txt },
                function(data) {
                  // Initialize our data recieved from the server
                  contained = data.result.contained;
                  found_already = data.result.found;
                  not_a_word = data.result.not_a_word;
                  not_a_character = data.result.not_a_character;
                  jumble = data.result.jumble;
                  num_matches = data.result.num_matches;
                  count_met = data.result.count_met;

                  // Redirect to the success page if word count is met
                  if (count_met) {
                    location.replace("http://localhost:5000/success");
                  }

                  // Respond appropriately to user input
                  if (not_a_character) {
                    $(".message").html(txt + " can't be made from the letters: " + jumble);
                  }
                  else if (not_a_word) {
                    $(".message").html(txt + " isn't in the list of words");
                  }
                  else if (found_already) {
                    $(".message").html("You already found " + txt);
                  }
                  else if (contained) {
                    // Display the found section upon first word found
                    if (num_matches == 1){
                      $("#found_section").html("You Found");
                    }
                    // Append to the found section, erase any error messages, and reset the input box
                     $("#results").append(txt + "\n");
                     $(".message").html("")
                     $("#attempt").val("");
                  }
                 }
             );
     });
</script>
 </div> <!-- container -->
</body> </html>
